/* container for gr*/
body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col {
    border: solid;
    border-color: antiquewhite;
    height: 40px;
    width: 40px;
}